body {
  background-color: #fdee21;
}

header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height: relative;
}

header {
  text-align: center;
}

li {
/* background-color: gray; */
margin-top: 25px;


}

li button {
  position: absolute;
  right: 20px;
 
  
}